@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --deepForest: hsl(81, 100%, 14%);
  --fernLeaf: hsl(102, 36%, 40%);
  --freshMint: hsl(103, 33%, 57%);
  --clearSky: hsl(197, 71%, 73%);
  --paleStone: hsl(46, 46%, 93%);
  scroll-behavior: smooth;
}

* {
  font-family: "Epilogue", serif;
}

body {
  margin: 0;
  /* padding: 0; */
  background-color: var(--paleStone);
}

main {
  margin: 1rem;
}

/* General Typografi Regler Mobil Version */

h1 {
  font-size: 1.5rem;
  color: var(--freshMint);
}

h2 {
  font-size: 1.3rem;
  color: var(--deepForest);
  margin: 1rem;
  max-width: 60ch;

}

p {
  font-size: 1rem;
  max-width: 60ch;
  margin: 1rem;
}

/* Header-Start */

header {
  margin: 0;
  padding: 0;
  height: 100px;
  background-image: linear-gradient(
    to right,
    rgb(88, 140, 66),
    rgb(24, 38, 18)
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.placeholder_logo {
  height: 40px;
  width: auto;
  margin-left: 15px;
}

.rsok_logo {
  height: 80px;
  width: auto;
}

.login_logo {
  height: 40px;
  width: auto;
  margin-right: 15px;
  fill: #ffffff;
}

input[type="checkbox"] {
  display: none;
}

label {
  display: inline-block;
  width: 100px;
  height: 75px;
  /* background-color: red; */
  padding: 15px 20px;
  cursor: pointer;
  text-align: center;
}

.dropdown {
  background-image: url(../images/logo/bars-solid.svg);
  background-position: center;
  background-repeat: no-repeat;
  max-width: 25px;
  margin-left: 25px;
}

.dropdown ul {
  display: none;
  position: absolute;
  list-style: none;
  text-align: left;
  background-color: var(--deepForest);
  z-index: 1;
  margin: 0;
  padding: 0;
}

.dropdown ul li {
  cursor: pointer;
  margin: 1.5rem;
}

/* Kalender */
.dropdown ul li:nth-of-type(3) {
  line-height: 2;
}

/* Klubaktiviteter */
.dropdown ul li:nth-of-type(4) {
  line-height: 0;
}

/* Træningsløb */
.dropdown ul li:nth-of-type(5) {
  line-height: 0;
}

.dropdown ul li:nth-of-type(6) {
  line-height: 0;
}

/* Praktisk info */
.dropdown ul li:nth-of-type(7) {
  margin-bottom: -10px;
}

/* O-kort */
.dropdown ul li:nth-of-type(8) {
  line-height: 0;
}

/* Kontakter */
.dropdown ul li:nth-of-type(9) {
  line-height: 0;
}

/* Indmeldelse */
.dropdown ul li:nth-of-type(11) {
  line-height: 0;
}

/* Nyt medlem */
.dropdown ul li:nth-of-type(12) {
  line-height: 0;
}

/* Kontingent */
.dropdown ul li:nth-of-type(13) {
  line-height: 0;
}

.dropdown ul li a {
  color: inherit;
  text-decoration: none;
  color: white;
  margin: 1rem;
}

input[type="checkbox"]:checked ~ ul {
  display: block;
}

/* Header-End */

/* Forside - Main-Start */

/* Mine (Arni's) ændringer på forsiden */

.forside h1{
  margin: 1rem;
}

.forside .placeholderForsideBillede1{
  width: 100%;
  height: 250px;
  background-image: url(../images/logo/Two_Bros_Broing.jpg);
  background-position: top;
  background-size: cover;
}

.forside .placeholderForsideBillede2{
  width: 100%;
  height: 250px;
  background-image: url(../images/logo/Old_Man_Helping_Family.jpg);
  background-position: top;
  background-size: cover;
}

.forside .fep_1{
  background-color: var(--clearSky);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
}

.forside .fep_1 a{
  padding: 1rem 3rem;
  background-color: grey;
  border-radius: 50px;
  text-decoration: none;
  color: white;
}

.forside .placeholderForsideBillede3 {
  width: 100%;
  height: 250px;
  background-image: url(../images/logo/MARABOU.jpg);
  background-position: top;
  background-size: cover;
}

/* Forside - Main-End */

/* Footer-Start */
footer {
  background-color: var(--freshMint);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}

.logoer_og_sponsor {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

footer img {
  height: 35px;
}

footer p {
  font-size: 11px;
}

.end_me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.end_me img {
  width: 59px;
}

/* Footer-End */

/*  */
/* Arni's kodning */
/*  */

main {
  line-height: 1.5;
}


main .oKortBilledeDesktop{
  display: none;
}

main .okortbillede{
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.okort_underside .oKortBillede1{
  background-image: url(../images/logo/Kort3.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 250px;
}

main .okort {
  text-align: center;
  color: var(--freshMint);
}

.okort_underside p {
  margin: 1rem;
}

/* Main underside: Sport for alle aldre */

.for_Alle_Aldre .forAlleAldreBillede1 {
  background-image: url(../images/logo/voksneDamerDerSmilerTilKameraet.jpg);
  height: 250px;
  width: 100%;
  background-position: top;
  background-size: cover;
  margin-bottom: 3rem;
}

.for_Alle_Aldre .forAlleAldreBillede3{
  background-image: url(../images/logo/børnDerHarVundetMedaljer.jpg);
  height: 250px;
  width: 100%;
  background-position: center;
  background-size: cover;
  margin-bottom: 3rem;
}

.for_Alle_Aldre .forAlleAldreBillede5{
  background-image: url(../images/logo/ældrePåKanotur.jpg);
  height: 250px;
  width: 100%;
  background-position: center;
  background-size: cover;
  margin-bottom: 3rem;
}

.for_Alle_Aldre h1{
  margin: 1rem;
}

Main .sportforalle {
  color: var(--freshMint);
}

.for_Alle_Aldre > a {
  margin: 1rem;
}

main #voksneOgFamilier {
  color: var(--deepForest);
}

main #børnOgUnge {
  color: var(--deepForest);
}

main #RSOKerne {
  color: var(--deepForest);
}

/*Kontakter*/
.kontakter_underside h1 {
  /* color: var(--freshMint); */
  text-align: center;
  margin-bottom: 2rem;
}

.kontakter_underside{
  display: flex;
  align-items: center;
  flex-direction: column;
}

h2 {
  /* margin-left: 50px; */
  /* color: var(--deepForest); */
}

/* .RSOKbestyrelse {
  margin-left: 50px;
} */

/* .RSOKbestyrelse article {
  margin-bottom: 70px;
} */

.kontakter_underside img {
  width: 200px;
  height: 200px;
}

.kontakter_underside p {
  margin: 1rem;
}

.kontakter_underside article {
  margin-bottom: 3.5rem;
}

.kontakter_underside h2:nth-of-type(1) {
  margin-top: 3rem;
}

/* .Kontaktpersoner {
  margin: 50px;
} */

/* .Kontaktpersoner article {
  margin-bottom: 70px;
} */

/* .kontakter_underside p {
  margin: 0;
} */

/* .Kontaktpersoner img {
  width: 200px;
  height: 200px;
} */

.Udvalg {
  text-align: left;
}

/* .Udvalg article {
  margin-bottom: 70px;
} */

/* .Udvalg img {
  width: 200px;
  height: 200px;
} */

.kontingent_side{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

main .kontingentHeader{
  color: var(--freshMint);
  text-align: center;
  justify-content: center;
}

main .tabelSektion{
  display: flex;
  justify-content: center;
}


main .kontingentTabel, th, td{
  border: 1px solid black;
}

main .kontingentTekst{
  /* text-align: center; */
}

/* Debbie's kodning */

/* Siden Links kodning CSS */

main .linksOverskrift {
  color: var(--fernLeaf);
  text-align: center;
}

.sectionLinks p {
  margin-bottom: 4rem;
}

.links{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links section{
  margin-bottom: 3rem;
}


/* Underside: Nyheder - Start */

.Nyheder_side h2 {
  margin: 0px;
  margin-bottom: 1rem;
}

/* .Nyheder_side p {
    padding-bottom: 1rem;
} */

.Nyheder_side section {
    background-color: #D9D9D9;
    padding: 1rem;
    margin: 1rem;
}

.Nyheder_side p {
  margin: 0px;
}

.pil_op {
  height: 50px;
  width: 50px;
  float: right;
  padding-bottom: 15px;
  border-radius: 50px;
}

.pil_op a img {
  height: 50px;
  width: 50px;
}

/* Underside: Nyheder - End */


@media screen and (min-width: 1000px){

    /* Media query for forsiden */

    .forside{
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 2rem;
    }

    .forside h1{
      grid-row: 1;
      grid-column: 5 / 10;
    }



    .forside section:nth-of-type(1){
      grid-row: 2;
      grid-column: 3 / 11;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .forside section:nth-of-type(1) p{
      grid-row: 2;
      grid-column: 1;
    }

    .forside .placeholderForsideBillede1{
      grid-row: 2;
      grid-column: 2;
      height: 100%;
      min-width: 350px;
    }




    
    .forside section:nth-of-type(2){
      grid-row: 3;
      grid-column: 3 / 11;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .forside section:nth-of-type(2) p{
      grid-column: 1;
    }

    .forside section:nth-of-type(2) .placeholderForsideDesktop1{
      background-image: url(../images/logo/Old_Man_Helping_Family.jpg);
      background-position: center;
      background-size: cover;
      grid-row: 2 / 4;
      grid-column: 2;
      height: 100%;
      min-width: 350px;
    }





    .forside section:nth-of-type(3){
      grid-row: 4;
      grid-column: 4 / 10;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .forside .fep_1 h2{
      text-align: center;
    }

    .forside section:nth-of-type(3) a{
      grid-column: 2;
      grid-row: 3;
      justify-self: center;
    }

    .forside section:nth-of-type(3) .placeholderForsideBillede2{
      background-image: url(../images/logo/familieDerKiggerPåO-kort.jpg);
      grid-row: 1 / 4;
    }




    
    .forside section:nth-of-type(4){
      grid-row: 5;
      grid-column: 4 / 10;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }

    .forside section:nth-of-type(4) p{
      grid-row: 2;
      grid-column: 1 / -1;
    }

    .forside section:nth-of-type(4) .placeholderForsideBillede3{
      grid-row: 3;
    }

    .forside section:nth-of-type(4) .placeholderForsideBillede4{
      background-image: url(../images/logo/voksneDamerDerSmilerTilKameraet.jpg);
      background-size: cover;
      background-position: top;
      grid-row: 3;
      grid-column: 2 / 3;
    }




    
    .forside section:nth-of-type(5){
      grid-row: 6;
      grid-column: 4 / 10;
    }



    /* Media queries for Nyheder */

    .Nyheder_side{
      display: flex;
      flex-direction: column;
      align-items: center;
    }



    /* Media queries for Træningsløb */

    .traeningsloeb_underside {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 2rem;
    }

    .traeningsloeb_underside section:nth-of-type(1){
      grid-column: 3 / 8;
    }

    .traeningsloeb_underside .placeholderTraeningsloeb{
      background-image: url(../images/logo/traeningsleob.jpg);
      background-size: cover;
      background-position: center;
      grid-row: 1;
      grid-column: 8 / 11;
    }

    .traeningsloeb_underside section:nth-of-type(2){
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-row: 2;
      grid-column: 3 / 11;
    }

    .traeningsloeb_underside section:nth-of-type(2) p{
      margin: 3rem;
    }

    .traeningsloeb_underside section:nth-of-type(2) .placeholderokortbillede{
      background-image: url(../images/logo/Kort2.jpg);
      background-position: center;
      background-size: cover;
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }

    
    /* Media Queries for Sport for alle aldre */

    .for_Alle_Aldre{
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 2rem;
    }

    .for_Alle_Aldre .sportforalle{
      grid-column: 6 / 8;
    }

    .for_Alle_Aldre .linkTekst{
      grid-column: 4 / span 2;
    }

    .for_Alle_Aldre #voksneOgFamilier{
      grid-row: 1;
    }
      
    .for_Alle_Aldre .voksneOgFamilierSektion{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      grid-row: 4;
      grid-column: 3 / 11;
    }

    .for_Alle_Aldre .forAlleAldreBillede1{
      grid-row: 2 / 4;
      grid-column: 2;
      height: 100%;
    }

    .for_Alle_Aldre .voksneOgFamilierSektion p:nth-of-type(1){
      grid-row: 2;
      grid-column: 1;
    }
    .for_Alle_Aldre .voksneOgFamilierSektion p:nth-of-type(2){
      grid-row: 3;
      grid-column: 1;
    }

    .for_Alle_Aldre .forAlleAldreBillede2{
      background-image: url(../images/logo/familieDerKiggerPåO-kort.jpg);
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 500px;
      grid-column: 4 / 10;
      grid-row: 5;
    }


    .for_Alle_Aldre .børnOgUngeSektionen{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      grid-row: 6;
      grid-column: 3 / 11;
    }

    .for_Alle_Aldre .børnOgUngeSektionen h2{
      grid-row: 1;
    }

    .for_Alle_Aldre .børnOgUngeSektionen p{
      grid-column: 1;
    }

    .for_Alle_Aldre .forAlleAldreBillede4{
      background-image: url(../images/logo/2GladePiger.jpg);
      background-size: cover;
      background-position: center;
      grid-column: 2;
      grid-row: 2 / 6;
      margin: 1rem;
    }

    .for_Alle_Aldre .forAlleAldreBillede3{
      background-position: top;
      grid-column: 1 / -1;
      grid-row: 7;
      height: 450px;
      margin: 1rem;
    }
    
    .for_Alle_Aldre .RSOKerneSektionen{
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 1rem;
      grid-row: 7;
      grid-column: 1 / -1;
    }

    .for_Alle_Aldre .RSOKerneSektionen #RSOKerne{
      grid-row: 1;
      grid-column: 5 / 9;
    }

    .for_Alle_Aldre .RSOKerneSektionen p{
      grid-column: 5 / 9;
    }

    .for_Alle_Aldre .RSOKerneSektionen .forAlleAldreBillede5{
      grid-row: 5;
      grid-column: 4 / 6;
      height: 300px;
    }

    .for_Alle_Aldre .RSOKerneSektionen .forAlleAldreBillede6{
      background-image: url(../images/logo/ældrePåTur.jpg);
      background-position: center;
      background-size: cover;
      grid-row: 5;
      grid-column: 6 / 8;
      height: 300px;
    }

    .for_Alle_Aldre .RSOKerneSektionen .forAlleAldreBillede7{
      background-image: url(../images/logo/ældreDerSpiserMadpakker.jpg);
      background-position: center;
      background-size: cover;
      grid-row: 5;
      grid-column: 8 / 10;
      height: 300px;
    }



    /* Media Queries for O-kort */

    .okort_underside{
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 2rem;
    }

    main .okort{
        grid-column: 6 / 8;
        grid-row: 1;
    }

    main .okortTekst:nth-of-type(1){
        grid-row: 2;
        grid-column: 5 / 9;
    }

    main .okortTekst:nth-of-type(2){
        grid-row: 3;
        grid-column: 5 / 9;
    }

    main .okortTekst:nth-of-type(3){
        grid-row: 4;
        grid-column: 5 / 9;
    }

    .okort_underside .oKortBillede1{
      height: 400px;
      grid-row: 5;
      grid-column: 4 / 7;
    }

    .okort_underside .oKortBillede2{
      background-image: url(../images/logo/KorttegningRebBak.jpg);
      background-position: center;
      background-size: cover;
      height: 400px;
      grid-row: 5;
      grid-column: 7 / 10;
    }
    
    .okort_underside .oKortBillede3{
      background-image: url(../images/logo/kvinderKiggerPaaKort.jpg);
      background-position: center;
      background-size: cover;
      height: 400px;
      grid-row: 6;
      grid-column: 4 / 7;
    }

    .okort_underside .oKortBillede4{
      background-image: url(../images/logo/Kort1.jpg);
      background-position: center;
      background-size: cover;
      height: 400px;
      grid-row: 6;
      grid-column: 7 / 10;
    }





    main .sportforalle{
      grid-column: 5 / 9;
    }

    main .linkTekst{
      grid-column: 6 / 8;
    }

    main a:nth-of-type(1){
      grid-column: 4 / 6;
      grid-row: 3;
    }
    
    main a:nth-of-type(2){
      grid-column: 6 / 8;
      grid-row: 3;
    }
    
    main a:nth-of-type(3){
      grid-column: 8 / 10;
      grid-row: 3;
    }
    
    main #voksneOgFamilier{
      grid-column: 1 / 4;
      grid-row: 4;
    }

    main .voksneOgFamilierBrødTekst{
      grid-column: 1 / 8;
    }

    main .børnOgUngeBrødtekst{
      grid-column: 1 / 8;
    }

    main #børnOgUnge{
      grid-column: 1 / 4;
    }

    main #toPiger{
      grid-row: 10 / 13;
    }

    main #RSOKerne{
        grid-column: 1 / 3;
    }

    main .RSOKerneBrødTekst{
      grid-column: 1 / 9;
    }

    /* main .sportForAlleBilledeDesktop:nth-of-type(1){
      grid-row: 5 / 7;
      height: 100%;
      object-fit: cover;
    } */

    /* main .sportForAlleBillede1:nth-of-type(2){
      grid-column: 2 / -2;
      grid-row: 7;
      height: 600px;
    } */
    
    /* main .sportForAlleBillede1:nth-of-type(4){
      grid-column: 2 / -2;
      height: 400px;
    } */

    main #kanoTur{
      grid-column: 1 / span 4;
      height: 100%;
    }

    main #gåTur{
      grid-column: 5 / span 4;
    }

    main .kontingentHeader{
      grid-row: 1;
      grid-column: 5 / 9;
    }

    main .kontingentTekst{
      grid-column: 4 / 10;
    }

    main .kontingentTekst:nth-of-type(3){
      grid-row: 2;
    }

    main .tabelSektion{
      grid-column: 4 / 10;
    }


    /* Media Queries for Kontakter */

    .kontakter_underside section{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 4rem;
    }

    .kontakter_underside h2{
      margin-top: 3rem;
    }



    /* media queries for Links siden */

    .links{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    
    .links section{
      grid-column: 2;
    }

  }

main .sportForAlleBilledeDesktop {
  display: none;
}

main .okort {
  text-align: center;
  color: var(--freshMint);

}

/* Underside: Træningsløb - Start */


.traeningsloeb_underside p {
  margin: 1rem;
}

.traeningsloeb_underside h1 {
  margin: 1rem;
}

main .fep_2 {
  background-color: var(--clearSky);
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.traeningsloeb_underside .placeholderokortbillede{
  background-image: url(../images/logo/Kort2.jpg);
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 100%;
}

.fep_2 p {
  margin: 20px;
  margin-bottom: 0px;
  margin-top: 10px;
  /* font-size: 14px; */
}

.fep_2 button {
  background-color: #787878;
  border-radius: 10px;
  text-align: center;
  padding: 10px 10px;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  margin-bottom: 10px;
  text-align: center;
}

.fep_2 button a {
  text-decoration: none;
  color: #FFFFFF;
}

/* Underside: Træningsløb - End */


/* Underside: Nyt Medlem - Start */

.nyt_Medlem_side div section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nyt_Medlem_side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nyt_Medlem_side h1 {
    text-align: center;
    /* color: var(--fernLeaf); */
}

.nyt_Medlem_side h2 {
    /* color: var(--deepForest); */
    margin-bottom: 0px;
}

.nyt_Medlem_side p {
    margin-top: 0;
}

.nyt_Medlem_side section {
    padding-bottom: 10px;
}

.nyt_Medlem_side .placeholder_1{
  background-image: url(../images/logo/handshake-angle-solid.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
}

.nyt_Medlem_side .placeholder_2 {
  background-image: url(../images/logo/id-card-clip-solid.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 150px;
}

.placeholder_3 {
    background-image: url(./assets/images/logo/circle-regular.svg);
    background-image: url(./assets/images/logo/circle-half-stroke-solid.svg);
    background-image: url(./assets/images/logo/circle-solid.svg);
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    gap: 1rem;
}

.placeholder_4 {
    background-image: url(../images/logo/person-hiking-solid.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 200px;
}

.placeholder_5 {
    background-image: url(../images/logo/map-location-dot-solid.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}

.nyt_Medlem_side section {
  margin-bottom: 1.75rem;
}

/* Underside: Nyt Medlem - End */



/* Forside - Start */

.forside {
  margin: 1rem;
}

.forside h1 {
  font-size: 24px;
}

.forside h2 {
  font-size: 18px;
}

main .forside_billeder {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: top;
  /* margin-bottom: 30px; */
}

/* Forside - End */

.Traeningsloeb_side {
  margin: 0;
}

.Traeningsloeb_side_tekst h1 {
  color: var(--freshMint);
  font-size: 20px;
  text-align: center;
}

.Traeningsloeb_side_tekst p {
  text-align: left;
  padding: 10px;
}

.fep_o_kort {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 150px;
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
}

.fep_o_kort img {
  flex: 1;
  object-fit: cover;
  height: 1h;
}

.fep_o_kort_tekstboks {
  flex: 1;
  padding: 10px;
  background-color: var(--clearSky);
  font-size: 14px;
}

.o_kort_knap {
  background-color: #787878;
  border-radius: 10px;
  text-align: center;
  padding: 10px 25px;
  /* margin-left: 15px; */
  margin-left: auto;
  margin-right: auto;
  width: 5em;
}

.o_kort_knap a {
  text-decoration: none;
  color: #ffffff;
}

/* Underside: Træningsløb - End */

