@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

:root{
   --deepForest: hsl(81, 100%, 14%);
   --fernLeaf: hsl(102, 36%, 40%);
   --freshMint: hsl(103, 33%, 57%);
   --clearSky: hsl(197, 71%, 73%);
   --paleStone: hsl(46, 46%, 93%);
}

*{
    font-family: "Epilogue", serif;
}
